<div class="container-content">
  <div class="left-content">
    <div class="top-left-content">chart</div>
    <div class="bottom-left-content">tabs</div>
  </div>
  <div class="right-content">
    <div class="header-right-content">
      <span>Amount</span>
    </div>
    <div class="input-money">
      <div class="row-1">
        <button>-</button>
        <input type="text" name="" id="" />
        <button>+</button>
      </div>
      <!-- <div *ngFor=""></div> -->
    </div>
    <div class="profit"></div>
    <div class="progress"></div>
    <div>
      <button>
        <span>BUY</span>
      </button>
      <button>
        <span>Wait time</span>
        <span>Please Trade</span>
        <br />
        <span></span>s
      </button>
      <button>
        <span>SELL</span>
      </button>
    </div>
  </div>
</div>
