<div class="nav-bar">
  <div class="left-nav-bar"></div>
  <div class="right-nav-bar">
    <button
      style="
        background: linear-gradient(133deg, #020024, #290c7e 0, #592ae6);
        height: 100%;
      "
    >
      <div
        style="
          font-size: 9px;
          font-weight: 700;
          line-height: 1;
          color: #fff;
          margin-bottom: 3px;
        "
      >
        Prize pool
      </div>
      <div
        style="
          font-size: 15px;
          line-height: 16px;
          font-weight: 900;
          color: #f7a62f;
        "
      >
        $17.96K
      </div>
    </button>
    <button
      style="background-color: #262935; height: 100%; padding: 0 10px 0 20px"
    >
      <div style="display: flex; flex-flow: nowrap; align-items: center">
        <div>
          <div style="font-size: 8px; margin: 0 4px 0 0">Demo account</div>
          <div style="font-size: 16px; font-weight: 700">$1,000</div>
        </div>
        <div
          style="
            width: 25px;
            height: 25px;
            background-color: #8b8d96;
            border-radius: 50%;

            display: flex;
            align-items: center;
            justify-content: center;
          "
        >
          <svg
            data-v-2cd98cb3=""
            xmlns="http://www.w3.org/2000/svg"
            width="10"
            viewBox="0 0 32 32"
          >
            <g
              data-v-2cd98cb3=""
              stroke-linecap="square"
              stroke-linejoin="miter"
              stroke-width="2"
              fill="#111111"
              stroke="#111111"
              class="nc-icon-wrapper"
            >
              <g data-v-2cd98cb3="" class="nc-interact_sorting-o-32">
                <path
                  data-v-2cd98cb3=""
                  data-cap="none"
                  fill="none"
                  stroke="#ffffff"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4 10l12 12"
                  stroke-dasharray="16.97 16.97"
                  stroke-dashoffset="0"
                ></path>
                <path
                  data-v-2cd98cb3=""
                  data-cap="none"
                  fill="none"
                  stroke="#ffffff"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M28 10L16 22"
                  stroke-dasharray="16.97 16.97"
                  stroke-dashoffset="0"
                ></path>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </button>
    <button
      style="
        background-color: #1fb497;
        height: 38px;
        padding: 0 25px;
        font-size: 14px;
        font-weight: 600;
      "
    >
      <div>Quick Deposit</div>
    </button>
  </div>
</div>
